.leia-mais {
    padding: .5em;
    margin: 1em;
    display: block;
    font-size: 1.5em;
    text-align: center;
    border: .2em solid black;
    color: white;
    background-image: linear-gradient(to bottom, black, #0e1197);
    transition: transform 1s, box-shadow 4s;
}

.leia-mais:hover {
    background-image: linear-gradient(to top, black, #0e1197);
}

.post-blog {
    padding-bottom: 30px;
    min-height: 100%;
    background-repeat: no-repeat;
    background-size: 80% 2px;
    background-position: 50% 50%;
    margin-bottom: 20px;
}

.post-blog + .post-blog {
    padding-top: 1em;
    margin-top: 1.5em;
    background-image: linear-gradient(to right, #f2fffc, #000, #f2fffc);
    background-size: 100% 1px;
    background-repeat: no-repeat;
    background-position: top center;
}