body {
    font-family: "Crimson Text", "Times New Roman", serif;
    background-color: #F2FFFC;
    font-size: 120%;
    line-height: 1.5;
}
html, body {
    height: 100%;
    overflow-x: hidden;
}


h1 {
    -webkit-animation: aparece 4s;
    animation: aparece 4s;
}

@-webkit-keyframes aparece {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes aparece {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    perspective-origin: 50% 160px;
}

h1,h2,.subtitulo-principal {
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h2{
    padding-bottom: 10px;
}

h1 {
    text-transform: uppercase;
    font-size: 60px;
}

.titulo-principal {
    text-align: center;
    background-color: #0e1197;
    color: #FFF;
    padding: 1.25rem;
    border-bottom: .5rem solid #000;
    background-image: linear-gradient(to bottom, black, #0e1197);
    text-shadow: 3px 3px black;
}

.subtitulo-texto {
    font-size: 30px;
    clear: both;
}

main a {
    color: black;
}

main p {
    text-align: justify;
    margin-bottom: 20px;
}

.navegacao-site {
    text-align: center;
    color: #F2FFFC;
    padding: 20px;
    background-image: linear-gradient(to bottom, black, #0e1197);
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
}

.navegacao-site h1 {
    font-size: 30px;
    margin-bottom: 25px;
}

.rodape-pagina {
    background-image: radial-gradient(ellipse at left bottom, rgba(14, 17, 151, 0.85), rgba(14, 17, 151, 0.85) 65%, black 65%, black 70%, transparent 70%, transparent);
    width: 100%;
    background-size: 25% 100%;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 0;
    left: 0;
    clear: both;
    height:2em;
    padding-top: 1em;
    color:white;
    text-shadow: 1px 1px black;
}

.container {
    width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

.icones-redes-sociais li {
    display: inline-block;
}

.icones-redes-sociais a {
    width: 40px;
    height: 40px;
    display: block;
    text-indent: -99999px;
}

.github {
    background-image: url(../imagens/github.png);
}

.twitter {
    background-image: url(../imagens/twitter.png);
}

.linkedin {
    background-image: url(../imagens/linkedin.png);
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-tooltip);
}

.icones-redes-sociais a {
    position: relative;
}

.icones-redes-sociais a:hover::after,
.icones-redes-sociais a:focus::after {
    content: attr(data-legenda);
    position: absolute;
    top: 100%;
    right: 0;
    text-indent: 0;
    width: 300%;
    background: black;
    font-size: .75em;
    border-radius: 0.4em;
}

main {
    width: calc(100% - 270px);
    float: left;
    padding-bottom: 80px;
}

.minha-foto,
.navegacao-site {
    border-left: 8px solid black;
    border-bottom: 8px solid black;
    box-sizing: border-box;
}

.navegacao-site {
    width: calc(0.9 * 300px); 
    float: right;
    position: absolute;
    top: 300px;
    right: 15.5px;
}

.minha-foto {
    position: absolute;
    top: 0;
    right: 15.5px;
    height: 300px;
}

.icones-redes-sociais a:hover::before,
.icones-redes-sociais a:focus::before {
    content: '';
    width: 1em;
    height: 1em;
    transform: translateY(.5em) rotate(45deg);
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
}