.profile-picture {
    border: 3px solid #000000;
    margin: 10px;
    max-width: 80%;
}

.profile-container{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    @media (max-width: 991px) {
        flex-wrap: wrap;
    }
}

.profile-container p,h1,h2,h3,h4 {
    color: white;
}


.profile-left-panel{
    max-width: 25%;
    margin: 40px;
    padding: 10px;
    border-radius: 34px;
    background: linear-gradient(145deg, #202a68, #1b2357);
    box-shadow:  11px 11px 22px #0c1027,
                 -11px -11px 22px #303e9b;
    @media (max-width: 991px) {
        max-width: 100%;
    }
}
.profile-right-panel{
    @media (max-width: 991px) {
        max-width: 100%;
    }
    max-width: 75%;
    margin: 40px;
    padding: 25px;
    border-radius: 34px;
    background: linear-gradient(145deg, #202a68, #1b2357);
    box-shadow:  11px 11px 22px #0c1027,
                 -11px -11px 22px #303e9b;
}
