<!-- Profile Left Panel -->
<div class="profile-container">
    <div class="container profile-left-panel text-center">
        <img src="/assets/images/ProfilePic.jpg" alt="Profile Picture" class="profile-picture img-fluid rounded-circle">
        <h1 class="profile-name">Daniel Lacerda</h1>
        <p class="profile-title">FullStack Sênior .NET Developer</p>
    </div>

    <!-- Profile Content -->
    <div class="container profile-right-panel">
        <section class="about-section">
            <h2>About</h2>
            <p>24 years old developer, enthusiast of new challenges, self-taught and easy to adapt || Working as Fullstack Sênior Software Analyst on ACPGroup || 4 years of experience with Full Stack C# .NET Development || Living on Salvador, Bahia, Brazil || Actually i've 96% of progress at my graduation on Information Systems at UFBA(Federal University of Bahia).</p>
        </section>

        <!-- Experience section -->
        <section class="stacks-section">
            <h2>Stacks</h2>
            <div style="width: 500px; height: 200px; margin: 0 auto">
            <app-stackcarousel [slides]="slides"></app-stackcarousel></div>
        </section>
        <!-- Contact Info -->
        <section class="contact-info">
            <h2>Contact Info</h2>
            <ul class="list-group">
                <li class="list-group-item">Email: daniel.felacerda@hotmail.com</li>
                <li class="list-group-item">Location: Salvador, Bahia, Brazil</li>
            </ul>   
        </section>
    </div>
</div>